[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
jupyter = "*"
gdal = "*"
fiona = "*"
geopandas = "*"
gmaps = "*"
rasterio = "==1.2.10" 
contextily = "*"
scikit-learn = "*"
plotly = "==6.0.0rc0"
anywidget = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.9"
